<h1>View User Page</h1>
 <section style="background-color: grey; width: 500px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin:10px;">
 	<h2><%= @user.name%></h2>
 	<h3>Position: <%= @user.usertype%></h3>
 	<button style="width:80px;height:40px;font-size: 20px;">Edit</button>
 </section>